.tittle{
    color: red;
}

.s1{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vh;

}

.crdzao{
    background-color:#FAF9F6  ;
}

img{
    border-radius: 50px;
    margin-right: 100px;
    margin-top: 25px;
}


@media (width >= 1000px){
    
.s1{
    background-color: #FAF9F6;
    color: black;   

}

}